<div class = "center jumbotron">
  <h1>Articles App</h1>
  <%= link_to'sign up', "#" , class: "btn btn-danger btn-lg btn-xlarge " %>
</div>



<!--<h2> New Changes</h2>-->

<!--<%#= link_to 'About', about_path%> |-->
<%#= link_to 'All Articles', articles_path %>

<%#= image_tag('IMG_20180621_193340336.jpg') %>